- if google_connect_in_use?
  %a.trans-button
  %a#my-signin2{style: "pointer-events: none;"}
  :javascript
      function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
      }
      function onFailure(error) {
        console.log(error);
      }
      function renderButton() {
        gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'width': 337,
          'border-radius': '0.3125em',
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
      }
  %script{:src => "https://apis.google.com/js/platform.js?onload=renderButton"}
