.info-text-container
  .info-text-icon
    = icon_tag("information")
  .info-text-content
    %p= text
- if is_size
  .info-text-container
    .info-text-icon
      = icon_tag("information")
    .info-text-content
      %p= "Please limit images to 7MB or less. Much smaller images load faster."
